@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using WebNo3.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TDanhMucSp>

<h1>DanhMucSanPham</h1>

<p>
    <a asp-controller="Admin" asp-action="themSanPham">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                Tên sản phẩm
            </th>
            <th>
                Độ nới
            </th>
            <th>
                Thời gian bảo hành
            </th>
            <th>
                Giá nhỏ nhất
            </th>
            <th>
                Giá lớn nhất
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 1;
            string bgc = "";
        }
@foreach (var item in Model) {
            if(count % 2 == 1)
            {
            bgc = "table-danger";
            }
            else
            {
            bgc = "table-success";
            }
            count++;
            <tr class="@bgc">
            <td>
            <a asp-controller="Admin" asp-action="ChiTietSanPham" asp-route-maSp="@item.MaSp">
                @Html.DisplayFor(modelItem => item.TenSp)
            </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoNoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="SuaSanPham" asp-route-maSanPham="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model,page => Url.Action("DanhMucSanPham", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
})